<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ojt.first_be.dao.mapper.StandardProductMapper">

    <insert id="insertAll" parameterType="StandardProduct">
        INSERT INTO tStandardProduct (
                    nProductCode,
                    nCategoryCode,
                    sProductName,
                    sBundleCondition,
                    sDescription,
                    nLowestPrice,
                    nAveragePrice,
                    nPartnerCount
        )
        VALUES
            <foreach collection="list" item="StandardProduct" separator="," >
                (
                #{StandardProduct.code},
                #{StandardProduct.categoryCode},
                #{StandardProduct.name},
                #{StandardProduct.bundleCondition},
                #{StandardProduct.description},
                #{StandardProduct.lowestPrice},
                #{StandardProduct.averagePrice},
                #{StandardProduct.partnerCount}
                )
            </foreach>
    </insert>

    <insert id="insert">
        INSERT INTO tStandardProduct (
                                     nProductCode,
                                     nCategoryCode,
                                     sProductName,
                                     sBundleCondition,
                                     sDescription,
                                     nLowestPrice,
                                     nAveragePrice,
                                     nPartnerCount
        )
        VALUES (
                #{StandardProduct.code},
                #{StandardProduct.categoryCode},
                #{StandardProduct.name},
                #{StandardProduct.bundleCondition},
                #{StandardProduct.description},
                #{StandardProduct.lowestPrice},
                #{StandardProduct.averagePrice},
                #{StandardProduct.partnerCount}
        )
    </insert>

    <select id="selectAll" resultType="StandardProduct">
        SELECT  SP.nCategoryCode AS categoryCode,
                C.sCategoryName AS categoryName,
                SP.nProductCode AS code,
                SP.sProductName AS name,
                SP.sBundleCondition AS bundleCondition,
                SP.sDescription AS description,
                SP.nLowestPrice AS lowestPrice,
                SP.nAveragePrice AS averagePrice,
                SP.nPartnerCount AS partnerCount
        FROM tStandardProduct SP
            JOIN tCategory C
            ON (SP.nCategoryCode = C.nCategoryCode)
        <where>
            <if test="categoryCode != null and categoryCode != 0">
                AND C.nCategoryCode = #{categoryCode}
            </if>
            <if test="searchCode != null and searchCode != ''">
                AND SP.nProductCode = #{searchCode}
            </if>
            <if test="searchName != null and searchName != ''">
                AND SP.sProductName LIKE CONCAT('%',#{searchName},'%')
            </if>
        </where>
        <trim prefix="ORDER BY">
            <choose>
                <when test="orderBy == 'partnerCount'">
                    SP.nPartnerCount
                </when>
                <otherwise>
                    SP.nProductCode
                </otherwise>
            </choose>
        </trim>
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="countAll">
        SELECT COUNT(nProductCode)
        FROM tStandardProduct
        <where>
            <if test="categoryCode != null and categoryCode != ''">
                AND nCategoryCode = #{categoryCode}
            </if>
            <if test="searchCode != null and searchCode != ''">
                AND nProductCode = #{searchCode}
            </if>
            <if test="searchName != null and searchName != ''">
                AND sProductName LIKE CONCAT('%',#{searchName},'%')
            </if>
        </where>
    </select>
</mapper>
