.Left-Layer {
    width: 50%; 
    min-width: 40rem;
    float: left;
    position: relative;
    padding-right: 1rem;
}
  
.Right-Layer {
    width: 50%;  
    min-width: 40rem;
    float: left;
    position: relative;
    padding-left: 1rem;
}
  
.File-Upload {
    text-align: left;
}
